<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Trips</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
  </head>
  <body>
      <h1>Trips</h1>
      <h6>Code Challenge by: Abby Greenbloom</h6>
      <section class="trip-results">
          <ul id="results">
            <p> Location, Start Date, End Date</p>
          </ul>
      </section>

      <section id="error">

      </section>

    <script type="text/javascript">
    load_trips()
    function load_trips() {
    //
      $.ajax({
        type: 'GET',
  	    url: 'trips-api/',
  	    success: function(data) {
          for (var i = 0 ; i < data.length; i++) {
            $('#results').append('<li id="trip-{data.id}">' + "<strong>" + data[i]['name'] +"</strong>" + " <br>  " + "<em> start date </em>" +  data[i]['start_date'] + "   " + "<em> end date </em> " + data[i]['finish_date'] + '</li>')
          }
        },
        error: function() {
          alert('error loading trips');
        }
      });
    }


    </script>
  </body>
</html>
